nav-small-screen {
    padding: 20px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #101820;
    width: 100%;
}

nav-small-screen button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    gap: 0.5rem;
    cursor: pointer;
}

nav-small-screen button div {
    height: 2px;
    width: 100%;
    background-color: white;
}

nav-small-screen #nav-small-screen-menu {
    display: none;
    width: 100%;
    background-color: #101820;
    left: 0;
    padding-top: 1rem;
}

nav-small-screen #nav-small-screen-menu > div {
    padding: 1rem 0;
}

nav-small-screen #nav-small-screen-menu > div > a {
    color: white;
    text-decoration: none;
}

nav-small-screen #nav-small-screen-menu > div > a:active {
    color: red;
}

@media screen and (min-width: 768px) {
    nav-small-screen {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    nav-small-screen button {
        display: grid;
    }
}
