@media screen and (min-width: 897px) and (max-width: 1024px) {
    header section {
        margin: 20px 80px;
    }

    nav {
        flex: 2;
    }

    main>section {
        padding: 0 80px;
    }

    main section.article-value div:nth-child(1) {
        flex: 2;
    }
}

@media screen and (min-width: 768px) and (max-width: 896px) {
    header section {
        margin: 20px 80px;
    }

    nav {
        flex: 2;
    }

    main>section {
        padding: 0 80px;
    }

    main section.article-value div {
        flex-basis: 100%;
        margin-bottom: 25px;
    }

    .carousel img {
        max-height: 350px;
    }

    main section.article-profile div {
        flex-basis: 100%;
        margin-bottom: 25px;
    }

    footer section {
        padding: 20px 80px;
    }
}